<a href="https://colab.research.google.com/github/DevanshAshar/ML-lp/blob/main/DecisionTree/salary_Dt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/salaries.csv")
df.head(10)

      company                  job     degree  salary_more_then_100k
0      google      sales executive  bachelors                      0
1      google      sales executive    masters                      0
2      google     business manager  bachelors                      1
3      google     business manager    masters                      1
4      google  computer programmer  bachelors                      0
5      google  computer programmer    masters                      1
6  abc pharma      sales executive    masters                      0
7  abc pharma  computer programmer  bachelors                      0
8  abc pharma     business manager  bachelors                      0
9  abc pharma     business manager    masters                      1

In [2]:
ip=df.drop("salary_more_then_100k",axis='columns')
tgt=df["salary_more_then_100k"]

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [5]:
ip['company_n']=le_company.fit_transform(ip['company'])
ip['job_n']=le_job.fit_transform(ip['job'])
ip['degree_n']=le_degree.fit_transform(ip['degree'])
ip.head(10)

      company                  job     degree  company_n  job_n  degree_n
0      google      sales executive  bachelors          2      2         0
1      google      sales executive    masters          2      2         1
2      google     business manager  bachelors          2      0         0
3      google     business manager    masters          2      0         1
4      google  computer programmer  bachelors          2      1         0
5      google  computer programmer    masters          2      1         1
6  abc pharma      sales executive    masters          0      2         1
7  abc pharma  computer programmer  bachelors          0      1         0
8  abc pharma     business manager  bachelors          0      0         0
9  abc pharma     business manager    masters          0      0         1

In [6]:
ip_n=ip.drop(['company','job','degree'],axis='columns')
ip_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(ip_n,tgt,train_size=0.7)

In [15]:
X_test

    company_n  job_n  degree_n
14          1      1         0
13          1      0         1
0           2      2         0
4           2      1         0
10          1      2         0

In [8]:
from sklearn import tree

In [9]:
model=tree.DecisionTreeClassifier()

In [17]:
model.fit(X_test,Y_test)

DecisionTreeClassifier()

In [20]:
model.score(X_test,Y_test)

1.0